.counterMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background: #f0f0f0;
    border-width:  5px;
    border-color: cornflowerblue;
    border-radius: 10px;
    width: 330px;
    height: 150px;
}
.values {
    display: flex;
    align-items: center;
    font-family: Arial, serif;
    font-weight: bolder;
}

.input {
    width: 100px;
    height: 20px;
    margin-left: 45px;
    border-style: solid;
    background: #f0f0f0;
    border-width:  5px;
    border-radius: 10px;
    border-color: cornflowerblue;
}

.incorrectValue {
    width: 100px;
    height: 20px;
    margin-left: 45px;
    border-style: solid;
    background: #ea4444;
    border-width:  5px;
    border-radius: 10px;
    border-color: cornflowerblue;
}

