.counterScreen {
    border-style: solid;
    background: #f0f0f0;
    border-width:  5px;
    border-color: cornflowerblue;
    border-radius: 10px;
    width: 330px;
    height: 150px;

}
.enterValue {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 55px;
    color: black;
}

.error {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 55px;
    color: red;
}

.red {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 100px;

}

.black {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 100px;

}